<div>
  <%= search_competition %>
  <%= react_component('SearchWidget/FormAdapter', {
    model: 'competition',
    multiple: false,
    railsId: 'competitions_search',
    goToItemUrlOnClick: true,
  }) %>
</div>
